
 footer a img {
   width: 30px;
   margin-right: 15px;
 }
 
 footer {
 position:relative;
 margin-top: 30px;
   background-color: #f7f7f7;
  
   text-align: center;
   bottom: 0%; /* Space between the footer and content above */
 }

 .name{
   text-decoration: solid;
   font-size: large;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }